// COLORS
$color-primary:#607b60;
$color-primary-light:#72a689;
$color-primary-dark:#44614a;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bfbfbf;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-green: #7ed56f;

$color-background: #191b25;

// FONT
$default-font-size: 1.6rem;
$big-font-size: 4rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//section
$margin-horizontal-main-section: 25rem;
$padding-main-section: 9rem;

/* Device = Most of the Smartphones Mobiles (Portrait) */
$screenXxsMin: 320px;
$screenXxsMax: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screenXsMin: 481px;
$screenXsMax: 767px;

/* Device = Tablets, Ipads (portrait) */
$screenSmMin: 768px;
$screenSmMax: 1024px;

/* Device = Laptops, Desktops */
$screenMdMin: 1025px;
$screenMdMax: 1280px;

/* Device = Desktops */
$screenLgMin: 1281px;
$screenLgMax: 1440px;

/* Higher Resolution Screens */
$screenXlgMin: 1441px;
$screenXlgMax: 2560px;
