#about {
  // margin: 0 $margin-horizontal-main-section;
  padding-top: 15vh;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .about-pic-container {
    flex: 1;
    img {
      display: block;
      margin: auto;
      width: 30rem;
      @media screen and (max-width: $screenXxsMax) {
        // 768 - 1024
        width: 25rem;
      }  
    }
  }
  .about-content-container {
    flex: 1;
    min-width: 60%;
  }

  .about-info {
    margin-bottom: 3rem;
    //min-width: 50rem;
  }
  .about-skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .about-skill-item {
    color: $color-primary-light;
    border: $color-primary-light solid;
    border-radius: 5px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
