#education {
  //margin: 0 $margin-horizontal-main-section;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  //   justify-content: center;
  padding-top: 15vh;
  margin-bottom: 20vh;
  min-height: 85vh;
  justify-content: center;
}
