.header {
  height: 15vh;
  min-height: 3rem;
  background-color: $color-background;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  //top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  &__logo {
    width: 7rem;
    // height: 1rem;
  }

  &__logo:hover {
    animation: moveInRight 1s ease-out;
  }

  .navigation-container {
    display: flex;
    align-items: center;
    .navigation {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        animation: moveInRight 1s ease-out;
        padding: 0 3rem;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $color-grey-light-1;
          &:hover {
            color: $color-primary-light;
          }
        }
      }
    }
  }
}
