body {
  font-family: "Lato", "Kanit" sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: $color-grey-light-2;
  @media screen and (max-width: $screenXxsMax) {
    // 320 - 480
    font-size: 1.5rem;
  }

}

p {
  white-space: pre-line;
}

.header-text {
  font-size: 3rem;
  color: $color-grey-light-1;
  &--dark {
    color: $color-grey-dark-3;
  }
}
